.plans-templates-info
  .plans-templates-info-icon
    i.fas.fa-coins(aria-hidden='true')
  .plans-templates-info-content
    h1 #{plan.name}
    h2 #{plan.price}$/#{plan.duration}M
    p
      i.fa.fa-check-circle(aria-hidden='true')
      | 44 Pizza 
      i.fas.fa-pizza-slice(aria-hidden='true')
    p
      i.fa.fa-check-circle(aria-hidden='true')
      | 1 Thali As ur Taste 
      i.fas.fa-utensil-spoon(aria-hidden='true')
    p
      i.fa.fa-check-circle(aria-hidden='true')
      | 1 times Snacks And Cold Drinks 
      i.fas.fa-hamburger(aria-hidden='true')
    .plans-button I'm Hungry