.featured-plan
   .featured-plan-1
     .featured-plan-1-1
       .featured-plan-1-1-heading
         h1
           | Featured 
           span item
       .featured-plan-1-1-subheading
         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse beatae delectus,.
       .featured-plan-1-1-rating-price
         .featured-plan-1-1-rating
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
           i.fa.fa-star(aria-hidden='true')
         .featured-plan-1-1-price
           .featured-plan-1-1-price-heading $#{plan.price}
           .featured-plan-1-1-price-buynow(planId=`${plan["_id"]}`) order now
         .featured-plan-1-1-want-to-buy Want to rate us!  
     .featured-plan-1-2
       img(src=`${plan["planImage"]}`)
   .featured-plan-2
     .lower-section-feature-plan-icons-chote
       
     .lower-section-feature-plan-icons-chote
       