extends base.pug
block content
 .profile-background-container
  .profile-content-container
    .container-profile-page
      .profile-image
        img(src='/images/pexels-wallace-chuck-4580470.jpg' alt='')
      .profile-img-text
        h1 change the profile
        i.fas.fa-camera
      .profile-image-name
        .profile-image-name-n David Peterson
        .edit-profile-info Edit
  .container-profile-info
    input#name-edit-profile(type='name' placeholder='Name')
    input#email-edit-profile(type='email' placeholder='Email')
    input#pw-edit-profile(type='password' placeholder='Password')
    input#cpw-edit-profile(type='password' placeholder='Confirm Password')
    .save-and-cancel-btn
      #profile-edit-save-btn.save-btn Save
      #profile-edit-cancel-btn.cancel Cancel
