
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800");
.container-of-review {
  font-family: "Open Sans", sans-serif;
  margin-top: 7%;
  /* background: #114e9a; */
}

.page-title {
  color: white;
  text-align: center;
  font-weight: 300;
}

.nav {
  display: table;
  margin: 25px auto;
  display: flex;
  height: 40px;
  justify-content: center;
}
.nav li {
  margin: 0 10px;
  list-style: none;
  margin: 0 10px;
  list-style: none;
  display: flex;
  /* height: 81%; */
  align-items: center;
  width: 7%;
  justify-content: center;
}
.nav li:hover{
    background: rgb(253, 239, 37);
    opacity: 0.8;
    border-radius: 6px;
}

.nav li a{
    text-decoration: none;
    color: #b99797;
    cursor: pointer;
  }

.testimonial-wrap {
  margin: 10px auto;
}
.testimonial-wrap:before, .testimonial-wrap:after {
  content: "";
  display: table;
}
.testimonial-wrap:after {
  clear: both;
}

.testimonial {
  background: white;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 0 0 rgba(1, 1, 1, 0.1);
  position: relative;
  color: #666;
  padding: 20px;
  margin-bottom: 30px;
}
.testimonial:before, .testimonial:after {
  position: absolute;
  visibility: visible;
  width: 0;
  height: 0;
  content: "";
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}
.testimonial:before {
  border-width: 17px;
  border-top-color: rgba(1, 1, 1, 0.15);
  bottom: -17px;
  left: 14px;
}
.testimonial:after {
  border-width: 15px;
  border-top-color: #fff;
  bottom: -15px;
  left: 16px;
}
.testimonial strong {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.testimonial-author {
  display: block;
  line-height: 1.2;
}
.testimonial-author .name {
  color: #76b0f5;
}
.testimonial-author strong {
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.testimonial-author .name,
.testimonial-author .stars {
  display: block;
  float: left;
}
.testimonial-author .stars {
  display: inline-block;
  margin-left: 20px;
  font-size: 25px;
  line-height: 45px;
  color: #ffbe3e;
}
.active1{
    background: rgb(148, 253, 253);
    opacity: 0.8;
    border-radius: 6px;
}
.image-plus-name{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-plus-name img{
    height: 78px;
    width: 78px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: cover;
}
.hide{
  display: none;
}
.review-row{
  display: flex; 
  flex-wrap: wrap;
}